@import "tailwindcss";
@plugin 'flowbite/plugin';

@theme {
  --color-primary-50: #008996;
  --color-primary-100: #008996;
  --color-primary-200: #008996;
  --color-primary-300: #008996;
  --color-primary-400: #008996;
  --color-primary-500: #008996;
  --color-primary-600: #008996;
  --color-primary-700: #008996;
  --color-primary-800: #008996;
  --color-primary-900: #008996;

  --color-secondary-50: #5c0f8c;
  --color-secondary-100: #5c0f8c;
  --color-secondary-200: #5c0f8c;
  --color-secondary-300: #5c0f8c;
  --color-secondary-400: #5c0f8c;
  --color-secondary-500: #5c0f8c;
  --color-secondary-600: #5c0f8c;
  --color-secondary-700: #5c0f8c;
  --color-secondary-800: #5c0f8c;
  --color-secondary-900: #5c0f8c;
}

:root {
  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;
}

body {
  margin: 0;
  display: flex;
  place-items: center;
  min-width: 320px;
  min-height: 100vh;
}

#app {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
}

@source "../node_modules/flowbite-svelte/dist";
@source "../node_modules/flowbite-svelte-icons/dist";